:root {
    --primary-h: 121;
    --primary-right-analogous: calc(var(--primary-h) + 30);
    --primary-left-analogous: calc(var(--primary-h) - 30);
    --secondary-h: calc(var(--primary-h) + 180);
    --primary-s: 72%;
    --primary-l: 62%;
}

#clicker {
    height: 50vh;
    width: 50vh;
    transition: 0.1s;
    border-radius: 50%;
    background-color: hsl(calc(var(--primary-h)), var(--primary-s), var(--primary-l));
}

#startButton {
    position: relative;
    top: 50%;
    left: 50%;
}

#nerdStats {
    list-style: none;
}

#nerdStatsContainer {
    background-color: white;
    display: none;
    position: fixed;
    z-index: 1;
}

#score-list {
    list-style: none;
}

#nerdStats p {
    margin: 0;
}

#nerdStats li {
    margin: 5px;
}

#clicker-container {
    position: relative;
    height: 60vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5f7;
    opacity: 0.8;
}

#clicker.beatClick {
    transform: scale(1.1);
}
